<div class="form__input">
    <input type="{{type}}" name="{{name}}" placeholder="{{label}}">
    <label>{{label}}</label>
    {{#if error}}
    <div class="form__input_error">{{error}}</div>
    {{/if}}
</div>